/* Fontit jota tarvitaan kaikkialla*/

@font-face {
    font-family: FrutigerLTPro-Roman;
    src: url('fonts/FrutigerLTProRoman.woff2') format('woff2');
}

@font-face {
    font-family: FrutigerLTPro-UltraBlack;
    src: url('fonts/FrutigerLTProUltraBlack.woff2') format('woff2');
}

@font-face {
    font-family: Inria-Serif;
    src: url('fonts/InriaSerifRegular.woff2') format('woff2');
}

:root {
  font-family: FrutigerLTPro-Roman;
  --accent-color-light: #72d0eb;
  --competition-accent-color--palvelut: #ffe200;
  --competition-accent-color--it: #d51066;
  --competition-accent-color--teollisuus: #5d2876;
  --competition-accent-color--rakentaminen: #89e1d0;
  --competition-accent-color--auto: #70d0eb;
  --competition-accent-color--taitajaplus: #ff6c0a;
  --competition-accent-color--taitaja9: #97d800;
  --competition-accent-color--ravitsemispalvelut: #003764;
  --competition-accent-color--ammatti: #f2f2f2;
}

/*---------------- Otsikko------------------ */

.main-header {
    background-color: #3f3f3f;
    padding: 10px;
    font-family: FrutigerLTPro-Roman;
    font-weight: 400;
}
 
.main-header .container {
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    font-weight: 600;
}

.main-header .logo img {
    position: relative;
    top: 2px;
    left: 15px;
    height: 55px;
}

@media only screen and (max-width: 640px) { 
  .logo { 
    display: none; 
  } 
  .main-header .container { 
    padding: 15px 0 15px 0;
  } 
}

/* Navigaatio */
.main-nav {
    position: absolute;
    right: 15px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
}

.main-nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

.main-nav ul li a {
    color: #343A40;
    position: relative;
    text-decoration: none;
}

/* Kieli-dropdown */
.language-dropdown {
    position: relative;
    padding: 15px;
}

.dropdown-toggle {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    font-weight: 600;
    color: #343A40;
}

.dropdown-menu {
    position: absolute;
    width: 130px;
    top: 50px;
    right: 2px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0,0,0,0.25);
    opacity: 0;
}

.language-dropdown.active .dropdown-menu {
    display: block;
    opacity: 1;
}

.lang-option {
    display: flex;
    align-items: center;
    gap: 5%;
    padding: 12px 16px;
    text-decoration: none;
    color: #333;
}

.lang-option:hover {
    background-color: var(--competition-accent-color--ammatti);
}


/* flag ikonit */
.flag-icon {
    width: 24px;
    height: 18px;
    background-size: cover;
    border-radius: 2px;
    border: 1px solid var(--accent-color-light)
}

.flag-icon.fi { background-image: url('https://flagicons.lipis.dev/flags/4x3/fi.svg'); }
.flag-icon.en { background-image: url('https://flagicons.lipis.dev/flags/4x3/gb.svg'); }
.flag-icon.sv { background-image: url('https://flagicons.lipis.dev/flags/4x3/se.svg'); }

/*-----------------footer------------------ */

.main-footer {
  background-color: var(--competition-accent-color--ammatti);
  padding: 20px;
  font-weight: 400;
  text-align: center;
  margin-top: auto;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.main-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.social-icons a {
  color: var(--competition-accent-color--ravitsemispalvelut);
  font-size: 28px;
  margin: 0 12px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons a:hover {
  color: var(--accent-color-light);
  transform: scale(1.2);
}
/*-----------------footer------------------ */

/* Hero-osuus */
.hero {
  background: linear-gradient(to right, #78cee6, #c0e962);
  color: white;
  text-align: center;
  padding: 80px 20px;
}

.hero h1 {
  font-family: FrutigerLTPro-UltraBlack;
  font-size: 48px;
  color: #000;
  margin-bottom: 20px;
}

.hero p {
  font-size: 20px;
  color: #000;
  margin: auto;
  margin-bottom: 30px;
  max-width: 1000px;
}

.cta-button {
  display: inline-block;
  background-color: white;
  color: #000;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.2s ease;
}

.cta-button:hover {
  background-color: #343a34;
  color: white;
}

.info {
  padding: 40px 20px;
  max-width: 1000px;
  margin-left: 25%;
  margin-right: 25%;
  text-align: center;
}

.info p {
  font-size: 18px;
  margin-bottom: 60px;
  line-height: 1.6;
}

.stages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.stage {
  background: #f9f9f9;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.25);
}

.stage h3 {
  color: #003764;
  font-size: 22px;
  margin-bottom: 10px;
}

.stage p {
  font-size: 16px;
  line-height: 1.5;
}

.color-gray {
  background-color: #797979;
}

html {
  scroll-behavior: smooth;
}